*{
    font-family: Allerta;
}

#titulo{
    text-align: center;
    font-size: 50px;
    background-color: #ff9800;
    margin-top: 0;
}

#add{
    font-size: 30px;
    position: fixed;
    margin: 20px;
}

.buttons{
    width: 130px;
}

#save{
    float: right;
    margin: 30px;
}

